@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 400;
}


/* 초기화 */
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

button {
  background: none;
  border: none;
}

/* 텍스트스타일 */
h2 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #242424;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #242424;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #242424;
}



h5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #242424;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #242424;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

/* 디자인 컴포넌트 */

.logo_lg {
  width: 220px;
  height: 44px;
  background-image: url(../img/airbus_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_md {
  width: 100px;
  height: 20px;
  background-image: url(../img/airbus_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_md_wh {
  width: 100px;
  height: 20px;
  background-image: url(../img/airbus_logo_wh.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_md_lg {
  width: 100px;
  height: 20px;
  background-image: url(../img/airbus_logo_wh.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn_md_defult {

  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  width: 270px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #00006D;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_md_defult:hover {

  color: #00006D;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  width: 270px;
  height: 50px;
  border: 2px solid #00006D;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_md_disabled {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  width: 270px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #c4c4c4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_md_ghost {
  color: #00006D;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 50px;

  width: 270px;
  height: 50px;
  border: 2px solid #00006D;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_xs_default {
  color: #ffffff;
  background-color: #00006D;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0 7px;
  margin-right: 7px;
  margin-top: 10px;
  border-radius: 5px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 헤더 들고다닐것 */
/* 헤더 */
header nav {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

/* 로그인메뉴 */
header .login {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c4c4c4;
  padding: 7px 10%;
}

header .login>ul {
  float: right;
}

header .login>ul>li {
  float: left;
  margin: 0 20px;
}

/* 메인 메뉴 */
header .header_menu {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #c4c4c4;
}

header .header_menu>h1 {
  height: 60px;
  padding-top: 22px;
  float: left;
  margin-left: 13%;
}

header .gnb>ul {
  height: 60px;
  float: right;
  margin-right: 13%;
  cursor: pointer;
}

header .gnb>ul>li {
  width: 100px;
  height: 60px;
  float: left;
  text-align: center;
  font-weight: 500;
  padding-top: 17px;
}

/* 모델 팝업창 */
header .gnb .modelwrap {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 0;
  left: 0;
  top: 100px;
  overflow: hidden;
  cursor: default;
}

.gnb .model:hover .modelwrap {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 600px;
  padding: 110px 13%;
}

.modelwrap>.txtwrap {
  width: 200px;
  display: flex;
  flex-flow: column;

  color: #242424;
  float: left;
  text-align: start;
}

.txtwrap li {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-align: start;
  color: #242424;
  font-size: 20px;
  font-weight: 400;
}



.model .activeTop {
  color: #191993;
  font-weight: 500;

}

.model .activeTop::after {
  content: url(../img/icon_arr_act.png);
  margin-left: 30px;

}

.txtwrap li::after {
  content: url(../img/icon_arr_defult.png);
  margin-left: 30px;

}

.txtwrap>p {
  text-align: start;
  color: #242424;
  font-size: 20px;
  font-weight: 700;
}

/* 모델팝업창 헬기_1 */
#modelli {
  display: inline-block;
}

.modelwrap .boxwrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: right;
  justify-content: end;

}


.modelwrap .boxwrap .imgbox {
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: end;
  width: 340px;
  height: 180px;

}


.imgbox>img {
  display: block;
  max-width: 340px;
}

.imgbox>img:hover {
  max-width: 350px;
  width: 350px;
  transition-duration: 300ms;
}


/* 체험 */
.contact>div {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 0;
  left: 0;
  top: 100px;
  overflow: hidden;
}

.contact:hover>div {
  height: 75px;
  cursor: default;
}

.contact ul {
  float: right;
  padding: 27px 0;
  position: relative;
  margin-right: 25%;
}

.contact li {
  float: left;
  margin: 0 10px;
}

/* 고객지원 */
.support>div {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 0;
  left: 0;
  top: 100px;
  overflow: hidden;
}

.support:hover>div {
  height: 75px;
  cursor: default;
}

.support ul {
  float: right;
  padding: 27px 0;
  margin-right: 13%;
}

.support li {
  float: left;
  margin: 0 10px;
}

/* 회사소개 */
.info>div {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 0;
  left: 0;
  top: 100px;
  overflow: hidden;
}

.info:hover>div {
  height: 75px;
  cursor: default;
}

.info ul {
  float: right;
  padding: 27px 0;
  margin-right: 13%;
}

.info li {
  float: left;
  margin: 0 10px;
}





/* -----------------------본문----------------------------------- */

.top {
  width: 100%;
  height: 275px;
  background-image: url(../img/exper_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.txtwrap {
  text-align: center;
}

.top .txtwrap h2 {
  color: #fff
}

.top .txtwrap p {
  color: #fff
}

.wrap {
  padding: 100px 13%;
  overflow: hidden;

}

.container {
  width: 100%;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  padding: 25px 0;
  overflow: hidden;
}

.l_agree{
  float: left;
  height: 100%;
  margin-left: 30px;
}
.r_agree{
  margin-left: 25%;
}

.left {
  margin-left: 30px;
  float: left;
}

.right {
  float: left;
  margin-right: 30px;
}


#place {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.place_list {
  margin-bottom: 50px;
  width: 303px;
  display: block;
}

.place_list p {
  color: #242424;
  font-weight: 300;
}

.place_list:last-child {
  margin-bottom: 0;
}

#list_left {
  display: flex;
  flex-direction: column
}

#list_left>h5 {
  margin-bottom: 30px;
}

#mapright {
  margin-left: 0px;
  float: right;
  background-color: #242424;
}

#map {
  width: 940px;
  height: 570px;

}
.submit{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 푸터 */
footer {
  width: 100%;
  overflow: hidden;
  padding: 12px 13%;
  background-color: #00006D;


}

footer .logo_md_wh {
  float: left;
  margin-top: 5px;
}

footer .footer_p {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 100;
  color: #fff;

}

footer .footer_menu {
  height: 22px;
  float: right;

}

footer li {
  float: left;
  margin: 0 10px;
}

footer img {
  max-width: 22px;
  float: left;
}

/* ---------------------------반응형----------------------------- */

@media screen and (max-width: 1810px) {
  /* 들고다닐것 */



  .gnb .model:hover .modelwrap {
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 110px 0;
    height: 500px;
  }

  .model .modelwrap .txtwrap {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    float: none;
  }

  .model .modelwrap .txtwrap p {
    text-align: center;
  }

  .model .modelwrap .txtwrap ul {
    align-self: center;
  }

  .model .modelwrap .txtwrap li {
    float: left;
    margin: 0 30px;
  }

  .model .modelwrap .boxwrap1 {
    justify-content: space-between;
    flex-direction: row;
  }

#place{
  flex-flow: wrap column;
  justify-content: center;
}
#list_left{
  flex-direction: row;
  justify-content: space-around;
}
#left_place{
  margin-left: 0;
}
#left_place>h5{
  text-align: center;
  margin-bottom: 30px;
}
#mapright{
  margin-right: 0;
  display: flex;
  justify-content: center;
}
}

@media screen and (max-width: 1270px) {
  .place_list{
    display: none;
  }
  #map{
    width: 100%;
  }
}

@media screen and (max-width: 1220px) {
  .gnb .model:hover .modelwrap {
    flex-flow: nowrap row;
    padding: 110px 0;
    height: 600px;
  }

  .modelwrap .boxwrap {
    flex-direction: column;
  }

  .gnb .model:hover .modelwrap {
    padding: 0 13%;
    align-items: center;
    justify-content: space-around;
  }

  .model .modelwrap .txtwrap {
    width: 150px;
    display: flex;
    text-align: center;
  }

  .model .modelwrap .txtwrap li {
    float: none;
    margin: 0 30px;
  }
  #agree{
    display: flex;
    flex-direction: column;
  }
  #agree>.l_agree{
    text-align: center;
    margin-bottom: 10px;
  }
  .r_agree{
    margin-right: 25%;
  }
}

@media screen and (max-width: 768px) {

  header .gnb>ul>li {
    width: 60px;
    margin: 0 10px;
  }

  .imgbox>img:hover {
    max-width: 350px;
    width: 350px;
    transition-duration: 300ms;
  }

  .gnb .model:hover .modelwrap {
    justify-content: space-between;
  }

  .modelwrap {
    justify-content: space-between;
    padding: 0 6%;
  }

  .modelwrap .txtwrap {
    justify-content: left;
  }

  .model .modelwrap .txtwrap li {
    float: none;
    margin: 0 0px;
  }

  .footer_p {
    display: none;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #242424;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #242424;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #242424;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #242424;
  }

}

@media screen and (max-width: 627px) {
  .top{
    padding: 0 10%;
    text-align: center;
  }
  .r_agree{
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    display: none;
  }

  .imgbox>img {
    max-width: 100%;
  }

  .modelwrap .boxwrap .imgbox {
    width: 80%;
  }

  .modelwrap .boxwrap {
    width: 100%;
  }

  .imgbox>img:hover {
    max-width: 2700px;
    width: 220px;
    transition-duration: 300ms;
  }

  .model .modelwrap .txtwrap {
    text-align: left;
    width: 100px;
  }

  .model .modelwrap .txtwrap li {
    margin: 30px 0;
    font-size: 25px;
  }

  .modelwrap .imgbox {
    width: 250px;
  }

  .model .activeTop::after {
    display: none;

  }

  .txtwrap li::after {
    display: none;
  }
}