.top {
  width: 100%;
  height: 275px;
  background-image: url(../img/factory.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txtwrap {
  text-align: center;
  position: relative;
  z-index: 1;
}

.top .txtwrap h2 {
  color: #fff;
}

.top .txtwrap p {
  color: #fff;
  font-weight: 300;
}
.dim{
  width: 100%;
  height: 275px;
  background-color: black;
  position: absolute;
  opacity: 0.75;
}